<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="/styles/styleAbout.css">
    <title>מקום למלא</title>

</head>

<body>
    <header>
        <!-- <img class="pass" src="/images/headerline.jpg"> -->
        <header>
            <!-- <img class="pass" src="/images/headerline.jpg"> -->
            <div class="pass">
                <img class="home" src="/images/pass2.jpg" style="width: 80px; float: right;">
                <a href="/" target="_parent" class="home"><img src="/images/logo1.jpg" class="home"
                        style="width: 450px; "></a>
                <img class="home" style="width: 750px; float: left;" src="/images/pass1.jpg">
            </div>
        </header>


    </header>
    <header>
        <h1> אודות האתר:</h1>
    </header>

</body>
<marquee direction="up" hspace="0px" bgcolor=" wheat" scrollamount="3" scrolldelay="0">
    <div style="text-align: center">
      
        האתר הוקם בשנת 2019 במטרה להנגיש לציבור אפשרות להשיג מילוי מקום זמני או קבוע, לפי הצורך לעובדי הוראה בישראל.
        <br>
        האתר בנוי בצורה של מתשמשים רשומים אשר מכניסים את פרטיהם למערכת כדי שבבוא העת תהיה אפשרות למחפשים מילוי מקום
        למצוא את
        העובד/ת הרלוונטי/ת ביותר המתאים/ה לתפקידו.
        <br>
        אנו שואפים להרחיב אותו ולהוסיף לו תחומים נוספים אך כרגע מתכונתו היא עבור עובדי הוראה בלבד. עמכם הסליחה.
        האתר בנוי בצורה של מתשמשים רשומים אשר מכניסים את פרטיהם למערכת כדי שבבוא העת תהיה אפשרות למחפשים מילוי מקום
        למצוא את
        העובד/ת הרלוונטי/ת ביותר המתאים/ה לתפקידו. האתר בנוי בצורה של מתשמשים רשומים אשר מכניסים את פרטיהם למערכת כדי
        שבבוא העת תהיה אפשרות למחפשים מילוי מקום למצוא את
        העובד/ת הרלוונטי/ת ביותר המתאים/ה לתפקידו. האתר בנוי בצורה של מתשמשים רשומים אשר מכניסים את פרטיהם למערכת כדי
        שבבוא העת תהיה אפשרות למחפשים מילוי מקום למצוא את
        העובד/ת הרלוונטי/ת ביותר המתאים/ה לתפקידו. האתר בנוי בצורה של מתשמשים רשומים אשר מכניסים את פרטיהם למערכת כדי
        שבבוא העת תהיה אפשרות למחפשים מילוי מקום למצוא את
        העובד/ת הרלוונטי/ת ביותר המתאים/ה לתפקידו. האתר בנוי בצורה של מתשמשים רשומים אשר מכניסים את פרטיהם למערכת כדי
        שבבוא העת תהיה אפשרות למחפשים מילוי מקום למצוא את
        העובד/ת הרלוונטי/ת ביותר המתאים/ה לתפקידו. האתר בנוי בצורה של מתשמשים רשומים אשר מכניסים את פרטיהם למערכת כדי
        שבבוא העת תהיה אפשרות למחפשים מילוי מקום למצוא את
        העובד/ת הרלוונטי/ת ביותר המתאים/ה לתפקידו. האתר בנוי בצורה של מתשמשים רשומים אשר מכניסים את פרטיהם למערכת כדי
        שבבוא העת תהיה אפשרות למחפשים מילוי מקום למצוא את
        העובד/ת הרלוונטי/ת ביותר המתאים/ה לתפקידו. האתר בנוי בצורה של מתשמשים רשומים אשר מכניסים את פרטיהם למערכת כדי
        שבבוא העת תהיה אפשרות למחפשים מילוי מקום למצוא את
        העובד/ת הרלוונטי/ת ביותר המתאים/ה לתפקידו. האתר בנוי בצורה של מתשמשים רשומים אשר מכניסים את פרטיהם למערכת כדי
        שבבוא העת תהיה אפשרות למחפשים מילוי מקום למצוא את
        העובד/ת הרלוונטי/ת ביותר המתאים/ה לתפקידו. האתר בנוי בצורה של מתשמשים רשומים אשר מכניסים את פרטיהם למערכת כדי
        שבבוא העת תהיה אפשרות למחפשים מילוי מקום למצוא את
        העובד/ת הרלוונטי/ת ביותר המתאים/ה לתפקידו. האתר בנוי בצורה של מתשמשים רשומים אשר מכניסים את פרטיהם למערכת כדי
        שבבוא העת תהיה אפשרות למחפשים מילוי מקום למצוא את
        העובד/ת הרלוונטי/ת ביותר המתאים/ה לתפקידו. האתר בנוי בצורה של מתשמשים רשומים אשר מכניסים את פרטיהם למערכת כדי
        שבבוא העת תהיה אפשרות למחפשים מילוי מקום למצוא את
        העובד/ת הרלוונטי/ת ביותר המתאים/ה לתפקידו. האתר בנוי בצורה של מתשמשים רשומים אשר מכניסים את פרטיהם למערכת כדי
        שבבוא העת תהיה אפשרות למחפשים מילוי מקום למצוא את
        העובד/ת הרלוונטי/ת ביותר המתאים/ה לתפקידו. האתר בנוי בצורה של מתשמשים רשומים אשר מכניסים את פרטיהם למערכת כדי
        שבבוא העת תהיה אפשרות למחפשים מילוי מקום למצוא את
        העובד/ת הרלוונטי/ת ביותר המתאים/ה לתפקידו. האתר בנוי בצורה של מתשמשים רשומים אשר מכניסים את פרטיהם למערכת כדי
        שבבוא העת תהיה אפשרות למחפשים מילוי מקום למצוא את
        העובד/ת הרלוונטי/ת ביותר המתאים/ה לתפקידו. האתר בנוי בצורה של מתשמשים רשומים אשר מכניסים את פרטיהם למערכת כדי
        שבבוא העת תהיה אפשרות למחפשים מילוי מקום למצוא את
        העובד/ת הרלוונטי/ת ביותר המתאים/ה לתפקידו. האתר בנוי בצורה של מתשמשים רשומים אשר מכניסים את פרטיהם למערכת כדי
        שבבוא העת תהיה אפשרות למחפשים מילוי מקום למצוא את
        העובד/ת הרלוונטי/ת ביותר המתאים/ה לתפקידו. האתר בנוי בצורה של מתשמשים רשומים אשר מכניסים את פרטיהם למערכת כדי
        שבבוא העת תהיה אפשרות למחפשים מילוי מקום למצוא את
        העובד/ת הרלוונטי/ת ביותר המתאים/ה לתפקידו.
    </div>
</marquee>

</html>