<html>

<head>
    <link rel="stylesheet" type="text/css" href="/styles/styleHeader.css">

    <link rel="icon" type="image/x-icon" href="/images/favicon.jpg">

</head>

<body>
    <!-- <div>
        <ul>
            <li class="a1">
                <div class="d2"> <img src="/images/psss1.jpg" class="image1"></div>
            </li>
            <li class="a1">
                <div class="d2"> <a href="/" target="_parent"><img src="/images/logo1.jpg" class="image1" ></a>
                </div>
            </li>
            <li class="a1">
                <div class="d2"> <img src="/images/pass2.jpg" class="image1"></div>
            </li>
        </ul>
    </div> -->

    <header>
            <!-- <img class="pass" src="/images/headerline.jpg"> -->
            <div class="pass">
            <img class="home" src="/images/pass2.jpg" style="width: 80px; float: right;">
            <a href="/" target="_parent" class="home"><img src="/images/logo1.jpg" class="home" style="width: 450px; "></a>
            <img class="home" style="width: 750px; float: left;" src="/images/pass1.jpg">
            </div>
        </header>
       
</body>

</html>