<!DOCTYPE html>
<html>

<head>
    <title>מקום למלא</title>
    <link rel="stylesheet" type="text/css" href="/styles/styleLogin.css">
    <!-- 
    <style>
        .pageHeader {
            background-color: lightgray;
            border-bottom: 2px dashed black;
        }
    </style> -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- <a href="/">Back</a>
    <header class="pageHeader"> -->
    <!-- <h2>User Login</h2> -->
    <div class="pass">

        <img class="home" src="/images/pass2.jpg" style="width: 80px; height: 231px; float: right;">
        <a href="/" target="_parent" class="home"><img src="/images/logo1.jpg" class="home" style="width: 450px; "></a>
        <img class="home" style="width: 750px; float: left;" src="/images/pass1.jpg">
    </div>
    </header>
    <div class="div1">
        <form id="myForm">
            <table align="center">
                <div class="bor">
                    <tr>

                        <td><label for="email">אי- מייל:</label> </td>
                        <td><input type="text" name="email" id="email" size="20" required></td>
                </div>
                </tr>
                <tr></tr>
                <div class="bor">
                    <tr>
                        <td><label for="password">סיסמא:</label></td>
                        <td><input type="password" name="password" id="password" size="20" required />
                </div>
                </td>
                </tr>
                <tr></tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="כניסה" id="submitBtn" /></td>
                </tr>
                <tr></tr>
            </table>
            <div class="div2">
                <a href="../registration" target="_parent" class="rigth">אין לך עדיין חשבון?<br>
                    מעבר להרשמה</a></div>
        </form>

    </div>


    <script>
        // listen to click event of the submit button
        $('#submitBtn').click(function (e) {
            // make sure the form is not submitted
            e.preventDefault();
            // run the form validations
            document.getElementById('myForm').checkValidity();
            // check if the form is valid
            if (document.getElementById('myForm').reportValidity()) {
                // form is valid, create a post request
                $.ajax({
                    type: "post",
                    url: "/registration/login",
                    // the user data 
                    data: {
                        email: $('#email').val(),
                        password: $('#password').val()
                    },
                    complete: // this function will run if the request is successful
                        function (xhr, status) {
                            // check if there is an error
                            if (status === 'error')
                                alert(xhr.responseText);
                            else {
                                alert("ok");
                                window.location.replace('privateArea/' + xhr.responseText);
                            }

                        }
                });
            }
        });
    </script>
</body>

</html>