<!DOCTYPE html>
<html>

<head>
    <title>מקום למלא</title>

</head>
<h1>הודעתך נשלחה בהצלחה!</h1>
<h2>תודה שהיית בקשר</h2>


        <header>
                <!-- <img class="pass" src="/images/headerline.jpg"> -->
                <div class="pass">
                        <img class="home" src="/images/pass2.jpg" style="width: 80px; float: right;">
                        <a href="/" target="_parent" class="home"><img src="/images/logo1.jpg" class="home" style="width: 450px; "></a>
                        <img class="home" style="width: 750px; float: left;" src="/images/pass1.jpg">
                        </div>
            </header>

</html>