<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="/styles/stylePage.css">

    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

    <script src="/scripts/scriptPage.js"></script>
    <!-- <script src="/scripts/scriptResults.js"></script> -->
</head>

<body>
    <header>

        <!-- <h1 style=" font: 1.8em FbTypoPas Regular"> מקום למלא</h1> -->
        <img class="pass" src="/images/headerline.jpg">

    </header>


    <div style="width: 100%;">
        <ul>
            <li class="a1" style="background-color: grey;">
                <div class="d2"><a href="/pages/about.html" class="aa"> אודותינו</a></div>
            </li>

            <li class="a1" style="background-color: grey;">
                <div class="d2"><a href="/pages/recommend.html" target="_self" class="aa">ממליצים על האתר</a></div>
            </li>
            <li class="a1">
                <div class="d2"> <a href="../login" type="submit" target="_self" class="aa">הרשמה/ כניסה לאזור האישי
                    </a></div>
            </li>
            <!-- <li class="a1">
                    <div class="d2"> <a href="../login" type="submit" target="_self" class="aa">הרשמה/ כניסה לאזור האישי
                        </a></div>
                </li> -->
            <!-- <a href="#contact">דף הבית</a> -->
            <!-- <div class="login-container">
            <form action="/action_page.php"> -->

        </ul>
    </div>
    <ul style="margin: 0px;">
        <img class="diary" src="/images/diary1.jpg">

        <li>
            <form id="myForm">
                <div class="autocomplete" class="sizeBox">
                    <input class="sizeBox" id="city" type="text" name="myCountry" placeholder="אזור" required>
                </div>
                <br>


                <select class="sizeBox" required id='profession' onchange='myfunc()'>
                    <option value="">מקצוע:</option>
                    <option value='מורה'>מורה</option>
                    <option value='מטפל/ת'>מטפל/ת</option>
                    <option value="גננ/ת">גננ/ת</option>
                    <option value="סייע/ת">סייע/ת</option>
                    <option value="מדריכ/ה">מדריכ/ה</option>
                    <option value="מרצה">מרצה</option>
                    <option value="חונכ/ת">חונכ/ת</option>
                    <option value="מבשל/ת">מבשל/ת</option>
                    <option value="ריתמיקאי/ת">ריתמיקאי/ת</option>
                    <option value="מפעיל/ת ג'ימבורי">מפעיל/ת גימבורי</option>
                </select>
                <br>
                <br>
                <select class="sizeBox" required id='specialization'></select>

                <br>
                <!-- 
        <br>

        <textarea id="free" onclick=freeSearch() pattern="^/[A-Za-z]{3}/$"> חיפוש חופשי </textarea>
        <br> -->
                <br>

                <button type="submit" id="submitBtn" class="search">חיפוש </button>

                <br>

                </div>


            </form>
        </li>
    </ul>


    <footer>
        <ul class="a3">
            <li class="list" style="float: right; margin-right: 30px;font-style:italic;color: burlywood;
            "> רוצים להחמיא? יש לכם הצעה
                לשיפור/ייעול? <a href="../writeUs" class="a2" style="font-style:italic; font-weight: bold; letter-spacing: 1px;

                ">כתבו לנו
                </a></li>
            <li class="list" style="float: left; margin-left: 30px;">
                <div>
                    <a href="/pages/takanon.html"> תקנון האתר</a>

                </div>
            </li>
        </ul>
    </footer>


    <script>
        $('#submitBtn').click(function (e) {
            // make sure the form is not submitted
            e.preventDefault();
            // run the form validations
            document.getElementById('myForm').checkValidity();
            // check if the form is valid
            if (document.getElementById('myForm').reportValidity()) {
                // form is valid, create a post request
                $.ajax({
                    type: "post",
                    url: "results/getUsers",
                    // the user data 
                    data: {
                        city: $('#city').val(),
                        profession: $('#profession').val(),
                        specialization: $('#specialization').val(),
                    },
                    complete: // this function will run if the request is successful
                        function (xhr, status) {
                            // check if there is an error
                            if (status === 'error')
                                alert(xhr.responseText);
                            // else
                            //     alert(xhr.responseText);
                        }
                });
            }
        });
    </script>
</body>

</html>