<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="/styles/styleRecommend.css">
    <title>מקום למלא</title>

</head>

<body>
    <header>
        <img class="pass" src="/images/headerline.jpg">


    </header>



    <h1>
        :מה אנשים כותבים עלינו
    </h1>

    <div class="div1">
        <br>
        חיפשתי ממלאת מקום באופן נואש. תמיד הייתי צריכה לעשות סבבי טלפונים בלתי נגמרים. היום, דרך האתר, הכל קל ופשוט. תוך
        שעה הייתה לי ממלאת מקום. תודה רבה!
        <br>
        <div style="float: left; font:1em BN Elkana"> רבקה מפתח תקוה </div>
        <br>
    </div>

    <div class="div1">
        <br>
        חיפשתי ממלאת מקום באופן נואש. תמיד הייתי צריכה לעשות סבבי טלפונים בלתי נגמרים. היום, דרך האתר, הכל קל ופשוט. תוך
        שעה הייתה לי ממלאת מקום. תודה רבה!
        <br>
        <div style="float: left; font:1em BN Elkana"> רבקה מפתח תקוה </div>
        <br>
    </div>
    <div class="div1">
        <br>
        חיפשתי ממלאת מקום באופן נואש. תמיד הייתי צריכה לעשות סבבי טלפונים בלתי נגמרים. היום, דרך האתר, הכל קל ופשוט. תוך
        שעה הייתה לי ממלאת מקום. תודה רבה!
        <br>
        <div style="float: left; font:1em BN Elkana"> רבקה מפתח תקוה </div>
        <br>
    </div>
    <div class="div1">
        <br>
        חיפשתי ממלאת מקום באופן נואש. תמיד הייתי צריכה לעשות סבבי טלפונים בלתי נגמרים. היום, דרך האתר, הכל קל ופשוט. תוך
        שעה הייתה לי ממלאת מקום. תודה רבה!
        <br>
        <div style="float: left; font:1em BN Elkana"> רבקה מפתח תקוה </div>
        <br>
    </div>
    <div class="div1">
        <br>
        חיפשתי ממלאת מקום באופן נואש. תמיד הייתי צריכה לעשות סבבי טלפונים בלתי נגמרים. היום, דרך האתר, הכל קל ופשוט. תוך
        שעה הייתה לי ממלאת מקום. תודה רבה!
        <br>
        <div style="float: left; font:1em BN Elkana"> רבקה מפתח תקוה </div>
        <br>
    </div>

</html>