<html>

<head>
    <link rel="stylesheet" type="text/css" href="../../public/styles/styleResults.css">

</head>

<body>
    <header>
        <!-- <img class="pass" src="/images/headerline.jpg"> -->
        <br>
        <h1>תוצאות חיפוש</h1>
    </header>
    <div class="div1">
        <table>
            <tr>
                <td>
                    <div id="firstName">שם פרטי:<br></div>
                </td>
                <!-- <td><input type="text" name="firstName" id="firstName"></td> -->

            </tr>
            <tr>
                <td>
                    <div id="lastName">שם משפחה:<br>
                        <%= d%>
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div id="city">עיר מגורים:<br></div>
                </td>

            </tr>
            <tr>
                <td>
                    <div id="email">אי-מייל:<br></div>
                </td>

            </tr>
            <tr>
                <td><label for="phoneNumber">מספר טלפון:<br>
                </td>

            </tr>


        </table>
    </div>
</body>

</html>