<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="/styles/styleTakanon.css">
    <title>מקום למלא</title>

</head>

<body class="b1">


</body>
<header>

    <!-- <h1 style=" font: 1.8em FbTypoPas Regular"> מקום למלא</h1> -->
    <img class="pass" src="/images/headerline.jpg">
    <br>

</header>
<h1>תקנון האתר</h1>
<br>


<div>
    <br>
    <b>
        משתמש/ת יקר/ה שים/י לב:
    </b>
    <br>
    <!-- 1.<br> -->
    האתר במתכונתו כרגע מיועד עבור עובדי הוראה בלבד. אי לכך, ניתן להכניס
    רק פרטים של עובדי הוראה. האתר עובר בדיקה פעם ביום ומשרות שאינן רלווטיות עבור עובדי הוראה עלולות להיות מוסרות.
    <br>
    אנו שואפים להרחיב אותו ולהוסיף לו תחומים נוספים אך כרגע מתכונתו היא עבור עובדי הוראה בלבד. עמכם הסליחה.
</div>

</html>