<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="/styles/styleTakanon.css">
    <title>מקום למלא</title>

</head>

<body class="b1">


</body>
<header>

    <!-- <h1 style=" font: 1.8em FbTypoPas Regular"> מקום למלא</h1> -->
    <!-- <img class="pass" src="/images/headerline.jpg"> -->

    <!-- <img class="pass" src="/images/headerline.jpg"> -->
    <div class="pass">
        <img class="home" src="/images/pass2.jpg" style="width: 80px; float: right;">
        <a href="/" target="_parent" class="home"><img src="/images/logo1.jpg" class="home" style="width: 450px; "></a>
        <img class="home" style="width: 750px; float: left;" src="/images/pass1.jpg">
    </div>

    <br>

</header>
<h1>תקנון האתר</h1>



<div class="div1">
    <br>

    משתמש/ת יקר/ה שים/י לב:
    </br>

    <!-- 1.<br> -->
    האתר במתכונתו כרגע מיועד עבור עובדי הוראה בלבד. אי לכך, ניתן להכניס
    רק פרטים של עובדי הוראה. האתר עובר בדיקה פעם ביום ומשרות שאינן רלווטיות עבור עובדי הוראה עלולות להיות מוסרות.
    <br>
    אנו שואפים להרחיב אותו ולהוסיף לו תחומים נוספים אך כרגע מתכונתו היא עבור עובדי הוראה בלבד. עמכם הסליחה.
    יכיעכחליוןעטכעבכבה נחיןיועטוכאבהיחנלןםטןאוכהחינליםןטןאטכואעביהחניןםוט8א7טוכעביהניחליןםו9ט8אוכעבהנ מנלחוט8עה נמחיעטה
    נממחיעטהע נמןחיעטהע נמחןיועטה נממחןיועטהע נמחןםיוןיח מוסרותיי
    חיכהנחייועחיבה נחמיועטה מחיעה מחוטאכב מחןוטאכב מחוטאכב מחוטארגכעויחצנמהבכגראטויחנמהבכ יעכה מחוטעה מחוטעה צלןוטעה
    חיטאכבהנחיןוטועטהי נמחןיועטהי מצחוטעה צחוטאעכה צןוטארקראטוןםךצמ העטוןםלת בגקראענ בגקראטיח
    נהעטיוחןלצ מנהעיחמ הכאטוחצ הכאטולצ בגראטולצ הכא
</div>

</html>