<html>
<h3><%-include partials/Header%></h3>
<h1>
    Hello <%=id%>!</h1>

<p id="x">
    <script>
        let d = new Date();
        document.getElementById("x").innerHTML = "The current time is:" + d;
        new Date.innerHTML;
    </script>
</p>




</html>