* {
    font: 1em FbTypoPas Regular;
    text-align: center;
    direction: rtl;
    /* border-radius: 15px; */
}

/* header {
    font: 1.8em FbTypoPas Regular;
    text-align: center;
    /* background-color: aqua; 
}*/

h1 {
    font: 1.5em FbTypoPas Regular;
    color: rgb(223, 148, 10);
    margin: 0%;
    margin-bottom: 20px;
    padding-top: 25px;

}



/* div {
    background-color: rgb(175, 209, 206);
    height: 200px;
} */



.pass {
    width: 100%;
    margin: 0px;
    margin-bottom: 0px;
}

.home {
    position: relative;
    width: 33%;
    height: 220px;
    margin: 0px;
    /* margin-right: 75px; */
    /* float: right; */
}


body {
    margin: 0px;
}

.div1 {
    border: rgb(81, 154, 238) solid 1px;
    /* background: url ("/public/images/mail.jpg"); */
    background-color: rgb(190, 203, 204);
    /*background-repeat: no-repeat; */
    background-size: 45%;
    /* margin: 100px; */
    width: 600px;
    direction: rtl;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 100px;
    /* padding-left: 50px; */
    height: 320px;
    position: absolute;
    right: 405px;
    border-collapse: collapse;
    border-spacing:10px;
    height: 50px;
    /* contant-left:auto; */
    /*    
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);‏ */

}

form {
    margin: 0px;
}

.a1 {
    width: 33.13%;
    height: 15px;
    color: white;
    background-color: rgb(243, 132, 4);
    border: gray;
    border: 28px;
    margin: 0px;
    text-decoration: none;
    padding-bottom: 20px;
    padding-top: 10px;
    /* padding-left: 15px;
    padding-right: 15px; */
    text-align: center;
    display: inline-block;
    /* display: block; */
    font: 1.2em FbTypoPas Regular;
    padding-right: 0px;
    padding-left: 0px;
}

a {
    text-decoration: none;
    color: white;
    /* font-weight: bold; */
}

.div2{
    background-color: rgb(131, 184, 184);
    width: 50%;
    text-align: center;
    direction: rtl;
    /* padding: 20px, 300px, 20px, 300px; */
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 80px;
    padding-bottom: 80px; */
    float: center;
}

/* .bor {
    border: 1px solid black;
    background-color: rgb(192, 224, 228);
    padding: 10px;
    padding-right: 5px;
    padding-left: 5px;
    margin: auto;
    width: 350px;
    text-align: right;
    margin-top: 6px;
} */