* {
    font: 1em FbTypoPas Regular;
    text-align: center;
    direction: rtl;
    /* border-radius: 15px; */
}

header {
    font: 1.8em FbTypoPas Regular;
    text-align: center;
    /* background-color: aqua; */
}

h1 {
    font: 1.5em FbTypoPas Regular;
    color: rgb(223, 148, 10);
    margin: 0%;
    margin-bottom: 20px;
    padding-top: 25px;

}



/* div {
    background-color: rgb(175, 209, 206);
    height: 200px;
} */



.pass {
    width: 100%;
    margin: 0px;
    margin-bottom: 0px;
}

.home {
    position: relative;
    width: 33%;
    height: 220px;
    margin: 0px;
    /* margin-right: 75px; */
    /* float: right; */
}


body {
    margin: 0px;
}

.div1 {
    height: 400px;
    background-color: rgb(134, 236, 219);
   float: right;

}